.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 92px 49px 0 51px;
}

.header__links-list {
  display: flex;
  gap: 32px;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__link {
  text-decoration: none;
}

.header__link_active {
  text-decoration: underline;
}

.header__logo {
  width: 148px;
  height: 105px;
}

.address {
  width: 240px;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
}
