.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 92px 49px 92px 51px;
}

.header__links-list {
  display: flex;
  gap: 32px;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__link {
  text-decoration: none;
}

.header__link_active {
  text-decoration: underline;
}

.header__logo {
  width: 148px;
  height: 105px;
}

.address {
  width: 240px;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
}

.cover {
  position: relative;
  width: 1440px;
  height: 757px;
  padding: 165px 50px 50px 50px;
  color: #fff;
  font-weight: 400;
  font-style: normal;
  background-image: url(../images/cover.jpg);
}

.cover::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
}

.cover__title {
  position: relative;
  display: flex;
  flex-direction: column;
  column-gap: 20px;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: normal;
  text-transform: uppercase;
}

.spacing_long {
  letter-spacing: 60px;
}

.spacing_short {
  letter-spacing: 30px;
}

.aligned-text {
  display: inline-block;
  line-height: 115%;
}

.aligned-text_center {
  line-height: 100%;
  text-align: center;
}

.aligned-text_right {
  line-height: 100%;
  text-align: end;
}

.cover__description {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 147px;
}

.cover__description-text {
  margin-left: 372px;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 17px;
}

.bet-button {
  position: relative;
  margin-left: 78px;
  border: 1px solid #fff;
  padding: 12px 32px;
  color: #fff;
  font-family: Raleway;
  font-size: 22px;
  text-transform: uppercase;
  background: none;
}

.lots {
  display: flex;
  flex-direction: column;
  margin: 180px 50px 181px 50px;
}

.lots__heading {
  margin: 0 1179px 27px 40px;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  row-gap: 25px;
  list-style-type: none;
}

.lots__card-list-item {
  flex-grow: 1;
}

.card-link {
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 40px;
  height: 450px;
  position: relative;
  background-size: cover;
  width: 430px;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  position: relative;
  color: #fff;
  font-size: 22px;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  color: #fff;
  font-family: Raleway;
  font-size: 20px;
}

.lots__look-more-link {
  font-size: 20px;
  margin: 30px 1108px 0 40px;
}
