.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 92px 49px 96px 51px;
}

.header__links-list {
  display: flex;
  gap: 32px;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;

  list-style-type: circle;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__link {
  text-decoration: none;
}

.header__link_active {
  text-decoration: underline;
}

.header__logo {
  width: 148px;
  height: 105px;
  margin-right: 140px;
}

.header__logo-image {
  height: 100%;
}

.address {
  width: 240px;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
}

.cover {
  position: relative;
  width: 1440px;
  min-height: 757px;
  padding: 165px 50px 18px 50px;
  color: #fff;
  font-weight: 400;
  font-style: normal;
  background: no-repeat url(../images/cover.jpg);
  background-size: cover;
  background-position-y: center;
}

.overlay::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
}

.cover__title {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: 700;
  font-size: 100px;
  line-height: 100%;
  text-transform: uppercase;
}

.letter-spacing-low-extender {
  letter-spacing: 30px;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.letter-custom-spacing {
  margin-right: -21px;
  margin-left: -28px;
}

.line-height-high {
  line-height: 115%;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: end;
}

.cover__description {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 135px;
}

.cover__description-text {
  margin-left: 374px;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 17px;
}

.bet-button {
  position: relative;
  margin-left: 78px;
  border: 1px solid #fff;
  padding: 12px 32px;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  background: none;
}

.lots {
  display: flex;
  flex-direction: column;
  margin: 180px 50px 181px 50px;
}

.lots__heading {
  margin: 0 1179px 27px 40px;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
    display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  list-style-type: none;
}

.lots__card-list-item {
  flex-grow: 1;
}

.card-link {
  display: block;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: 450px;
  padding: 50px 40px;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  position: relative;
  color: #fff;
  font-size: 22px;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 20px;
}

.lots__look-more-link {
  margin: 30px 1108px 0 40px;
  font-size: 20px;
}

.about {
  display: grid;
  grid-template-columns: 430px 885px;
  gap: 25px;
  margin: 0 50px 180px 50px;
}

.about__logo-container {
  width: 430px;
  height: 240px;
  padding: 0 95px;
}

.about__logo {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  padding: 63px 46px;
}

.about__text-container {
  margin-top: 100px;
}

.about__title {
  margin-bottom: 100px;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  font-size: 20px;
}

.about__text:first-of-type {
  margin-bottom: 25px;
}

.footer {
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  align-items: start;
  margin: 0 50px 90px 50px;
}

.footer__menu-list {
  text-align: center;
  list-style-type: none;
}

.footer__menu-link {
  font-size: 18px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
  list-style-type: none;
}

.footer__social-icon {
  width: 48px;
}
